extends layout

block content
    #main
        #board
            #ad
                img#mainad(src="/mainad.jpg")
            .card
                #free.article
                    h3 
                        a(href='/free') 비밀 게시판
                    each free in frees
                        a(href='/free/'+free.f_num).list
                            p=free.f_title     
            .card
                #secret.article
                    a(href='/writearticle').list 
                        h3 비밀 게시판
                            hr
                            ul
                                each secret in secrets
                                    li
                                        a(href='/secret/'+secret.s_num)=secret.s_title
                                    hr
            .card
                #A1.article
                    a(href='/articlelist').list
                        h3 졸업 게시판
                            hr
                            ul
                                each grad in grads
                                    li
                                        a(href='/grad/'+grad.f_num)=grad.g_title
                                    hr
            .card
                #A2.article
                    a(href='/market').list
                        h3 장터
                            hr
                            ul
                                each market in markets
                                    li
                                        a(href='/market/'+market.m_num)=market.m_title
                                    hr
            .card
                #A3.article
                    a(href='/fresh').list
                        h3 새내기 게시판
                            hr
                            ul
                                each fresh in news
                                    li
                                        a(href='/fresh/'+fresh.n_num)=fresh.n_title
                                    hr
            .card
                #A4.article
                    a(href='/info').list
                        h3 정보 게시판
                            hr
                            ul
                                each info in infos
                                    li
                                        a(href='/info/'+info.i_num)=info.i_title
                                    hr
            .card
                #A5.article
                    a(href='/prom').list
                        h3 홍보 게시판
                            hr
                            ul
                                each prom in proms
                                    li
                                        a(href='/prom/'+prom.p_num)=prom.p_title
                                    hr
            .card
                #A6.article
                    a(href='/team').list
                        h3 동아리 게시판
                            hr
                            ul
                                each team in teams
                                    li
                                        a(href='/team/'+team.t_num)=team.t_title
                                    hr