extends layout

block content
    #main
        #board
            #ad
                img#mainad(src="/mainad.jpg")
            .card
                #free.article
                    h3 
                        a(href='/free') 자유게시판
                    each free in frees
                        a(href='/free/'+free.f_num).list
                            p=free.f_title     
            .card
                #secret.article
                    h3
                        a(href='/secret') 비밀게시판 
                    each secret in secrets
                        a(href='/secret/'+secret.s_num).list
                            p=secret.s_title
            .card
                #A1.article
                    h3 
                        a(href='/grad') 졸업게시판
                    each grad in grads
                        a(href='/grad/'+grad.f_num).list
                            p=grad.g_title
            .card
                #A2.article
                    h3 
                        a(href='/market') 장터
                    each market in markets
                        a(href='/market/'+market.m_num).list
                            p=market.m_title
            .card
                #A3.article
                    h3 
                        a(href='/fresh') 새내기게시판
                    each fresh in news
                        a(href='/fresh/'+fresh.n_num).list
                            p=fresh.n_title
                                    
            .card
                #A4.article
                    h3
                        a(href='/info') 정보게시판
                    each info in infos
                        a(href='/info/'+info.i_num).list
                            p=info.i_title
            .card
                #A5.article
                    h3 
                        a(href='/prom') 홍보게시판
                    each prom in proms
                        a(href='/prom/'+prom.p_num).list
                            p=prom.p_title
                                    
            .card
                #A6.article
                    h3 
                        a(href='/team') 동아리게시판
                    each team in teams
                        a(href='/team/'+team.t_num).list
                            p=team.t_title
                            